*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-sidebar-primaty: #38bdf8;
    --color-gray: #e2e8f0;
}

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    font-family: "Roboto", sans-serif;
}

main {
    grid-column: 1/-1;
}

ul {
    list-style: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
}

.container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

/* HEADER */

.header {
    top: 40px;
    background-color: #fff;
    padding: 10px 40px;
    box-shadow: rgba(16, 8, 8, 0.1) 0px 7px 10px 0px;
    z-index: 2;

    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 2fr 1fr;
}

.header__search,
.header__buttons {
    grid-column: 1 / -1;
}

.header__search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.header__searchbar {
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

.header__search-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.header__user-info {
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
}

/* USER INFO */

.user-info__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info__name {
    font-weight: 700;
}

.user-info__span {
    font-size: 0.6em;
}

.header__bell-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.header__user-name {
    display: inline-block;
    font-weight: 500;
    padding: 0 20px;
}

#searchbar {
    flex: 1;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 5px 10px;

    background-color: var(--color-gray);
}

/* HEADER BOT */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    grid-column: 1/ -1;
}

.header__buttons {
    display: flex;
    gap: 15px;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--color-sidebar-primaty);
    font-weight: 500;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 65px 1fr;
}

.logo__link {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

.logo__img {
    padding-right: 10px;
    width: 50px;
    height: 50px;
}

.btn {
    background-color: #0284c7;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* List Items */

.menu__list {
    display: grid;
    grid-template-rows: repeat(7, 30px);
}

.menu__list-item {
    text-transform: capitalize;
}

.menu__list-link {
    display: flex;
    align-items: center;
    color: white;
    transition: color 0.5s;
}

.menu__list-link:hover {
    color: #6807b2;
}

.menu__icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.branging__list-item {
    text-transform: capitalize;
}

/* PROJECT */

.main {
    background-color: var(--color-gray);
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.project {
    grid-column: 1/2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 30px;
    grid-auto-rows: 200px;
    padding: 25px;
    gap: 15px;
}

.project__heading {
    grid-column: 1 /-1;
}

.project__card {
    background-color: #fff;
    border-left: 6px solid gold;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__content {
}

.project__title {
    margin: 0;
}

.project__text {
    margin: 0;
    font-size: 0.8rem;
}

.project__icons {
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.project__icon-img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.main__rightside {
    grid-column: 2/3;
    margin: 0 20px;
}
/* ANNOUNCMENT */

.announcments {
    grid-column: 2 /3;
    display: flex;
    flex-direction: column;
}

.announcments__heading {
    padding-top: 20px;
}

.announcments__container {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 18px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    margin-right: 30px;
}

.announcments__content {
    flex: 1;
    padding: 15px;
}

.announcments__content:not(:last-child) {
    border-bottom: 1px solid rgba(125, 125, 125, 0.511);
}
.announcments__title {
    font-size: 0.9em;
}

.announcments__text {
    --max-lines: 3;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    font-size: 0.8em;
    width: 230px;
}

/* TRANDING */
.tranding {
    grid-column: 2/3;
    margin-right: 30px;
    padding-bottom: 20px;
}

.tranding__heading {
    margin-top: 25px;
}

.tranding__container {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    row-gap: 10px;
}

.tranding__profile {
    display: flex;
    align-items: center;
}

.tranding__profile-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.tranding__profile-id {
}

.tranding__title {
    color: rgb(173, 173, 173);
    margin: 0;
    font-size: 0.9em;
    text-transform: capitalize;
}
